input[type="checkbox"],
input[type="radio"] {
    width: auto;
    display: inline-block;
}

#image-submit {
    height: 70px;
    width: 100px;
}



/***** dropDown start *****/
.dropDown-section {
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    color: gray;
    padding: 0px 5px;
    margin-bottom: 20px;
}

.downArrow-button {
    border: none;
    background-color: white;
    border-left: 1px solid gray;
}

.arrow-down {
    border: solid lightgray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/***** dropDown start *****/


.closeXicon::-webkit-search-cancel-button {
    display: none;
}


